#video-streams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
    height: 90vh;
    width: 1400px;
}

.video-container{
    border-radius: 5px;
    padding: 5px;
    height: 100%;
}

.video-player{
    height: 100%;
    width: 100%;
}

#stream-controls{
    display: none;
}